*{
  background-color: rgb(156, 225, 235);
}


h1{
  background-color: rgb(76, 82, 82);
  font-family: "Helvetica", sans-serif;
  padding: 10px;
  color: rgb(210, 213, 214);
  font-size: 3em;
  border-radius: 15px;
}

body{
  padding-left: 20px;
}

p{
  font-size: 16pt;
  padding: 3px;
  color: rgb(10, 10, 65);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cats{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  font-size: 2em;
}

ul {
  color: rgb(36, 36, 39);
  font-family: cursive;
  padding: 10px;
  list-style: square;
}

li{
  border: darkblue;
  border-width: 4px;
  border-radius: 15px;
  padding: 5px;
  background-color: cornsilk;
}




/* top top bottom */
/* least specific to specific */
/* a class is less specific than an id */
/* you can add classes and id's  */
/* ony one id per id tag */
/* id will win over class always!! */